<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="task in tasks" :class="{ completed: task.completed }">
                {{ task.title }}
                <input type="checkbox" v-model="task.completed"> Done!
            </li>
        </ul>
        <input v-model="newTask" placeholder="Enter task" >
        <button @click="addTask">Add Some Task</button>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                tasks: [
                    {  title: '1-Task', completed: true },
                    {  title: '2-Task', completed: false },
                    {  title: '3-Task', completed: true }
                ],
                newTask: ""
            },
            methods: {
                addTask: function () {
                    if(this.newTask.trim !== ""){
                        this.tasks.push({ title: this.newTask, completed: false });
                        this.newTask = "";
                    }
                }
            }
        });
    </script>
</body>
</html>